# For running the Go backend application

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: real-estate-app
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      GIN_MODE: release
    restart: always