apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: real-estate-infisical-secret
  namespace: app
  labels:
    app: real-estate
spec:
  hostAPI: https://app.infisical.com/api

  # Authenticate with Infisical
  authentication:
    universalAuth:
      secretsScope:
        envSlug: "dev"
        secretsPath: "/"
        projectSlug: "real-estate-db-sc" # Your real estate project slug
      credentialsRef:
        secretName: infisical-auth-real-estate
        secretNamespace: app

  # Store the synced secrets in Kubernetes
  managedSecretReference:
    secretName: real-estate-secret
    secretNamespace: app
    secretType: Opaque
    creationPolicy: "Owner"

  resyncInterval: 60
