# Service definition for Real Estate application

apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: real-estate
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}